<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/82dcb06d-657d-4087-9393-f16356463b0c/resourcegroups/DefaultResourceGroup-CAU/providers/Microsoft.Web/sites/API20210605043235</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CAU</ResourceGroup>
    <ApiResourceId>/subscriptions/82dcb06d-657d-4087-9393-f16356463b0c/resourceGroups/DefaultResourceGroup-CAU/providers/Microsoft.ApiManagement/service/APIapi/apis/API</ApiResourceId>
    <OpenApiDocumentName>newssite</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://api20210605043235.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>886cc737-964e-41c8-9e74-8869d928eda1</ProjectGuid>
    <MSDeployServiceURL>api20210605043235.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>API20210605043235</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$API20210605043235</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>